<h1 class="text-center mt-5 mb-5">E-Workshop App</h1>

<h3 class="text-center mt-5 mb-5">Login</h3>
<div class="row justify-content-center mt-5">
  <div class="col-10 col-sm-8 col-md-5">
    <form (ngSubmit)="onLogIn(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <!-- {{ "AUTENTICATION.EMAIL" | translate }}  -->
        <label for="content">Username</label>
        <!-- {{ 'AUTENTICATION.PLACEHOLDERS.EMAIL' | translate }} -->
        <input type="text" class="form-control" id="email" ngModel name="email" placeholder="Please enter your email"/>
      </div>
      <div class="form-group">
        <!-- {{ "AUTENTICATION.PASSWORD" | translate }} -->
        <label for="content">Password</label>
        <!-- {{ 'AUTENTICATION.PLACEHOLDERS.PASSWORD' | translate }} -->
        <input type="password" class="form-control" id="password" required ngModel name="password" placeholder="Please enter your password"/>
      </div>
      <!-- {{ "AUTENTICATION.REGISTER_BTN" | translate }} -->
      <button class="col-12 mt-4 btn btn-primary" type="submit">Submit</button> <!-- [disabled]="!postForm.valid" -->
    </form>
    <div class="col text-center mt-5">
      <a href="#" class="link" routerLink="../register">New user? Register here!</a>
    </div>
  </div>
</div>
