<main>
  <div class="row mt-4">
    <div class="col">
      <h4 class="mb-3">My Cars</h4>

      <div *ngIf="clientData">
        <div class="row" *ngIf="clientData.cars.length <= 0">
          <div class="col-4">
            <p>No Cars to show</p>
          </div>
        </div>

        <div class="car-cart row" *ngIf="clientData.cars.length > 0">
          <div class="col-4 mb-4" *ngFor="let car of clientData.cars">
            <p><b>Brand:</b> {{ car.brand | titlecase}}</p>
            <p><b>Model:</b> {{ car.model | titlecase}}</p>
            <p><b>Color:</b> {{ car.color | titlecase}}</p>
            <p><b>Plate:</b> {{ car.plate | uppercase}}</p>
            <p><b>Year:</b> {{ car.year }}</p>
            <!-- <button class="btn btn-primary mt-4 mb-3">Edit car</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h4 class="mb-3">My Quotes</h4>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <h4 class="mb-3">My Jobs</h4>
    </div>
  </div>
</main>
